;; shadow-cljs configuration
{:source-paths ["src"]

 :dependencies [[funcool/promesa "8.0.450"]]

 :builds
 {:extension
  {:target :node-library
   :js-options {:js-provider :shadow
                ;; TODO: Test if this is necessary
                :keep-native-requires true
                ;; TODO: Test if this is necessary
                :keep-as-require #{"vscode"}}
   :compiler-options {:infer-externs :auto}
   :exports {:activate idiom.core/activate
             :deactivate idiom.core/deactivate}
   :output-dir "lib/js"
   :output-to "lib/main.js"
   :devtools {:before-load-async idiom.core/before-load-async
              :after-load idiom.core/after-load}}}}
